.layout-col2 {
  display: flex;
  overflow-x: hidden;
  .ly-col {
    width: 50vw;
    flex: 1 1 auto;
  }
  .tsu {
    width: calc(100% - 50vw);
    padding: 12px;
  }
}

.tea-layout__header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #000;
  color: #fff;
}

.tea-layout__header-title {
  background: black !important;

  .tea-h2 {
    color: #fff;
  }
}

.tea-layout__content-body {
  padding: 0 !important;
}